---
const {title, description} = Astro.props
import Nav from "../components/Nav"
import ThemeToggle from "../components/ThemeToggle.astro"
---


<html lang="en" class="">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="title" content={title}  />
		<meta name="description" content={description} />	
		<title>{title}</title>
    

	</head>
	<body class="light">
		
			<header class=" sticky top-0 z-50 ">
			<Nav client:load />
			</header>
    <main class="m-5 flex-grow dark:text-white" >
			<a type="button" href="/CVAlejandro.pdf" download="CV-Alejandro" class=" fixed z-20 hover:scale-105  right-1 bottom-[3.5rem] font-semibold rounded-xl text-white dark:text-gray-200 bg-[#0C40CF] dark:bg-yellow-600 px-6 py-2">Download CV</a>
      <slot/>
    </main>
		<footer class="sticky bottom-0 z-20 py-2 backdrop-blur-xl bg-[#08072f68] bg-opacity-50 shadow-md">
			<section class="flex items-center justify-center gap-2">
				<img src="/copyright.svg" class="filter filter-red" alt="copyright" height="20" width="20">
				<em class="font-semibold text-lg dark:text-white">AlejandroDev</em>
				<span class="block">-</span>
				<a href="https://www.linkedin.com/in/alecanonm/" target="_blank">
					<img src="/linkedin.svg" alt="linkedin" height="20" width="20">
				</a>
				<ThemeToggle />
			</section>
		</footer>
	</body>
</html>

<style>
	.light {
	;
	background-size: 10px 10px;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	}

	html{
		scroll-behavior: smooth;
		scroll-margin-top: 0
	}
</style>