---
const {title, description} = Astro.props
import NavBar from "../components/NavBar.astro"
---


<html lang="en" class="">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="title" content={title}  />
		<meta name="description" content={description} />	
		<title>{title}</title>
    

	</head>
	<body class="light">
			<header class="sticky z-50 top-0">
				<NavBar/>
			</header>
    <main class="m-5 flex-grow dark:text-white  px-6" >
      <slot/>
    </main>
		<footer class="sticky text-slate-600 bottom-0 z-20 py-2 bg-transparent backdrop-blur-xl">
			<section class="flex items-center justify-center gap-2">
				<span class="text-lg dark:text-slate-300 "><em><strong>©</strong></em></span>
				<em class="text-lg dark:text-slate-300"><strong>AlejandroDev</strong></em>
				<span class="block dark:text-slate-300">-</span>
				<a href="https://www.linkedin.com/in/alecanonm/" target="_blank">
					<img src="/linkedin.svg" alt="linkedin" height="20" width="20">
				</a>
			</section>
		</footer>
	</body>
</html>
<style>

@font-face {
	font-family: 'Roboto';
	src: url("/fonts/Roboto-Regular.ttf") format("truetype");
}
	.light {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	}

	main{
		font-family: 'Roboto';
	}

	html{

		scroll-behavior: smooth;
		scroll-margin-top: 0
	}
</style>