---
const {title} = Astro.props
import Nav from '../components/Nav'
---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <meta title={title}  />	

	</head>
	<body>
			<header class=" sticky top-0 z-50">
			<Nav client:visible />
			</header>
    <main class="m-5" >
      <slot/>
    </main>
		<footer></footer>
	</body>
</html>

<style>
	body {
	background-color: #fff;
	/* opacity: 0.8; */
	background-image: radial-gradient(#001E6C 0.5px, #fff 0.5px);
	background-size: 10px 10px;
	}

	html{
		scroll-behavior: smooth;
	}
</style>