---
const {title} = Astro.props
import Nav from '../components/Nav'
---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <meta title={title}  />	

	</head>
	<body>
			<header>
			<Nav client:load/>
			</header>
    <main class=" flex max-md:justify-center" >
      <slot/>
    </main>
		<footer></footer>
	</body>
</html>
