---
import MysiteLayout from '../layouts/MySiteLayout.astro'
---

<MysiteLayout title="AlejandroDev | Contact">
	<article class=" flex flex-col justify-center items-center gap-5">
		<section class=" flex flex-col flex-wrap text-center md:px-50 lg:px-20 gap-6">
			<h1 class=" text-[1.7rem] sm:text-4xl mt-4 mb-2 font-bold">Elevating Your Brand with Web Design and <b class="text-yellow-600">SEO</b> </h1>
			<p class="text-xl text-gray-600 dark:text-gray-300">Transforming ideas into attractive and search <b>engine-optimized</b> web pages. With a  <b>responsive design</b>, your site will look and function flawlessly on desktop computers and mobile devices, attracting more potential customers. </p>
		</section>
			<section class="flex flex-col justify-center items-center gap-5">
				<h2 class="text-[1.7rem] sm:text-3xl mt-4 mb-2 font-bold">You can find me at:</h2>
				<ul class="flex gap-4 text-xl text-gray-600">
					<li class="hover:scale-105 transition-transform duration-100 ease-in-out">
						<a href="https://www.linkedin.com/in/alecanonm" target="blank">
							<img width="50"  src="/linkedin.svg" alt="linkedin"/>
						</a>
					</li>
					<li class="hover:scale-105 transition-transform duration-100 ease-in-out">
						<a href="https://github.com/alecanonm	" target="blank">
							<img width="50"  src="/github.svg" alt="github"/>
						</a>
					</li>
					<li class="hover:scale-105 transition-transform duration-100 ease-in-out">
						<a href="mailto:al3jandrocan0n@gmail.com" target="blank">
							<img width="55" src="/gmail.png" alt="gmail"/>
						</a>
					</li>
					</ul>
			</section>
	</article>
	
</MysiteLayout>