---
import MySiteLayout from "../layouts/MySiteLayout.astro"; 
---

<MySiteLayout title="AlejandroDev | About" description="AlejandroDev | About me. Discover the portfolio of Alejandro, a seasoned web developer with a rich history of successful projects. This curated showcase presents a comprehensive overview of my professional journey, featuring in-depth insights into real-world web development ventures. Explore each project with direct links to code repositories and live demos, offering transparency into my problem-solving prowess. Navigate through a diverse technological landscape and witness my adept project management skills in action. Join me in the realm of web development excellence.">
  <section>
    HOLA  
  </section>
</MySiteLayout>