---
import MysiteLayout from '../layouts/MySiteLayout.astro'
import Badge from '../components/Badge.astro';
import Qualifications from '../components/Qualifications.astro';
import { Image } from 'astro:assets';
import alejandroDev from "../../public/alejandroDev.png"
---

<MysiteLayout title="AlejandroDev | Full-Stack" description="I am a dedicated Full-Stack Developer committed to bringing your digital dreams to life on the web. With expertise in design, development, and optimization, I am ready to take your vision online. From custom websites to efficient web applications, my goal is to provide exceptional digital solutions. Trust me to create and optimize your online presence! ">

	<section class="flex justify-center  h-full">
		<div class="flex flex-col items-center ">
			<div class="w-2 h-4 rounded-full bg-black dark:bg-white"></div>
			<div class="w-1 h-5/6 bg-gradient-to-b from-black dark:bg-white"></div>
		</div>
		<article class="flex flex-wrap-reverse ">
			<picture class="bottom-2 md:bottom-0 md:top-[17rem] lg:top-32 max-w-[20rem] md:max-w-[23rem] lg:max-w-[28rem] right-0">
				<Image src={alejandroDev} alt="A picture of my profile"/>
				<div class="flex items-center">
					<div class="w-full h-1 bg-gradient-to-l from-black dark:bg-white">
					</div>
					<div class="w-4 h-2 rounded-full bg-black dark:bg-white"></div>
				</div>
			</picture>
		<section class=" flex flex-col pl-4">
		<h1 class="text-[3.2rem] md:text-7xl font-extrabold leading-[3.5rem]">Hi there! </h1>
		<h2 class="text-[3.2rem] md:text-7xl font-extrabold leading-[3.5rem]">I'm <spna class="text-yellow-600">Alejandro</spna> <span class=" max-md:hidden  text-yellow-600"> Canon</span></h2>
		<h3 class="text-[1.7rem] sm:text-4xl mt-4 mb-2 font-semibold">Full-Stack Developer</h3>
		<section class=" flex gap-3">
			<div class=" flex items-center gap-1"><p class="text-xl sm:text-2xl font-medium">
				React
			</p>
			<img src="/nuclear.svg" width="40" alt="react badge">
		</div>
		<div class=" flex items-center gap-1">
		<p class="text-xl sm:text-2xl font-medium">
			Node.js 
	 	</p>
	 	<img src="/node-js.svg" width="30" alt="nodejs badge">
	</div>
		<div class=" flex items-center gap-1">	
			<p class="text-xl sm:text-2xl font-medium">
			JavaScript
		</p>
		<img src="/java-script.svg" width="30" alt="java-script badge"></div>
	</section>
		<p class="text-xl sm:text-2xl font-medium">
			+1 years experience
		</p>
	</section>
	</article>
</section>
<div id="about"></div>
<section  class="flex flex-col gap-8  mx-40 mt-16 max-sm:mx-2 max-2xl:mx-2 ">
		<h3 class="text-4xl md:text-6xl font-extrabold">Overview.</h3>
	<p class=" text-xl text-gray-600 dark:text-gray-300">
		I'm a passionate Web Developer with one year of experience, specializing in creating attractive and functional web applications. My focus lies in designing intuitive user interfaces and developing efficient servers. I strongly believe in optimizing performance and security. My passion for technology and problem-solving is paired with a constant desire for learning. I'm eager to contribute to innovative projects and make the web a better place. Let's connect and work together to achieve amazing results!
  </p>
</section>
<div id="skills"></div>
<section class="flex flex-col gap-10 justify-center items-center mx-40 mt-16 max-sm:mx-2 max-2xl:mx-2 ">
	<h3 class=" text-5xl max-sm:text-4xl font-extrabold text-center">My tools</h3>
	<section class=" grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6  place-items-center">
		<Badge img="/html5.svg" name="HTML" />	
		<Badge img="/css-3.svg" name="CSS"/>	
		<Badge img=/js.svg name="JAVASCRIPT"/>	
		<Badge img="/science.svg" name="REACT"/>	
		<Badge img="/icons8-redux-200.svg" name="REDUX" />	
		<Badge img="/astro.svg" name="ASTRO"/>	
		<Badge img="/tailwind.svg" name="TAILWIND"/>	
		<Badge img="/nextjs.svg" name="NEXTJS"/>	
		<Badge img="/node.svg" name="NODEJS"/>	
		<Badge img="/postgresql.svg" name="POSTGRES"/>	
		<Badge img="/expressjs.svg" name="EXPRESS"/>	
		<Badge img="/firebase.svg" name="FIREBASE"/>	
		<Badge img="/git.svg" name="GIT"/>	
		<Badge img="/sequelize.png" name="SEQUELIZE"/>		
	</section>
	<Qualifications />
</section>
</MysiteLayout>
