---
import MysiteLayout from '../layouts/MySiteLayout.astro'
import Card from "../components/Card.astro";
---

<MysiteLayout title="AlejandroDev | Full-Stack" description="I am a dedicated Full-Stack Developer committed to bringing your digital dreams to life on the web. With expertise in design, development, and optimization, I am ready to take your vision online. From custom websites to efficient web applications, my goal is to provide exceptional digital solutions. Trust me to create and optimize your online presence! ">
	<section class="flex flex-col justify-center items-center gap-16">
<div class="flex flex-col items-center gap-2">
<h3 class="text-lg sm:text-xl text-slate-600 dark:text-slate-200">Howdy!</h3>
<h1 class="text-xl sm:text-3xl text-center container mx-auto sm:w-5/6"> I'm Alejandro a full-stack developer focused on frontend — currently studying UI/UX design at <strong><span class="text-blue-600">G</span><span class="text-red-600">o</span><span class="text-yellow-600">o</span><span class="text-blue-600">g</span><span class="text-green-600">l</span><span class="text-red-600">e</span>.</strong></h1>
</div>
<section class="flex flex-wrap gap-8 justify-center items-center">
	<Card title="Takemyvape shop" text="A web application that allows users to buy motorcycles and leave reviews. It also includes a dashboard where admins can add new motorcycles, ban users, view reviews, and more." img="/takemyvape.png" link="/takemyvape"/>
	<Card title="Mitsumichi Ecommerce" text="A web application that allows users to buy motorcycles and leave reviews. It also includes a dashboard where admins can add new motorcycles, ban users, view reviews, and more." img="/e-commerce.jpg" link="/mitsumichi"/>
	<Card title="Guess my number" text="This is an exciting game where you challenge your intuition to guess the secret number hidden between 1 and 20. Can you uncover the mystery number and claim victory?" img="/guess.png" link="/guess"/>
</section>
</section>
</MysiteLayout>

