---
import MySiteLayout from "../layouts/MySiteLayout.astro"; 
---

<MySiteLayout title="AlejandroDev | Mitsumichi-ecommerce" description="AlejandroDev | Mitsumichi e-commerce. Experience the thrill of riding with Mitsumitchi, your online destination for motorcycle shopping. From stylish scooters to powerful motorcycles, we offer a unique selection of two-wheelers. We simplify the buying process with quick procedures, financing options, and an expert team ready to assist you. Turn your dream of owning the perfect bike into reality with Mitsumitchi. Start your journey today!">
  <section class="flex flex-col items-center justify-center gap-6 container mx-auto">
    <div class="flex flex-col justify-center items-center gap-5">
    <h1 class="text-3xl sm:text-5xl text-center dark:text-slate-200"><strong>Mitsumichi-ecommerce</strong></h1> 
      <p class="flex flex-wrap">
        <span class="text-xl px-2 text-orange-600"><strong>Ract</strong></span>
        <span class="text-xl px-2 text-blue-600"><strong>Tailwind</strong></span>
        <span class="text-xl px-2 text-yellow-600"><strong>JavaScript</strong></span>
        <span class="text-xl px-2 text-green-600"><strong>Redux</strong></span>
        <span class="text-xl px-2 text-red-600"><strong>Node</strong></span>
        <span class="text-xl px-2 text-blue-400"><strong>Express</strong></span>
        <span class="text-xl px-2 text-yellow-400"><strong>SQL</strong></span>
        <span class="text-xl px-2 text-green-400"><strong>Sequelize</strong></span>
        <span class="text-xl px-2 text-red-400"><strong>PostgreSQL</strong></span>
        <span class="text-xl px-2 text-yellow-500"><strong>Firebase</strong></span>
      </p>
    </div>
    <figure>
      <img src="/e-commerce.jpg" alt="e-commerce motorcycles" width="1000">
    </figure>
    <p class="text-xl px-2">
      Experience the thrill of riding with Mitsumitchi, your online destination for motorcycle shopping. From stylish scooters to powerful motorcycles, we offer a unique selection of two-wheelers. We simplify the buying process with quick procedures, financing options, and an expert team ready to assist you. Turn your dream of owning the perfect bike into reality with Mitsumitchi. Start your journey today!</p>
    <h2 class="text-2xl sm:text-3xl  dark:text-slate-200"><b>My achievements</b></h2>
    <p class="text-xl px-2">TI contributed to this project by implementing best styling practices (CSS and Tailwind). Additionally, I took charge of identifying and fixing any bugs within the application. I ensured that the application is responsive on mobile devices and also prioritized using proper semantic code for effective SEO positioning and improved performance.</p>
    <figure>
      <img src="/mitsumichi.png" alt="guess my number" width="1000" height="1000">
    </figure>
      <ul class="flex justify-around items-center w-full">
        <li class="flex justify-center items-center flex-col">
          <span>Repository</span>
           <a href="https://github.com/edgartellom/Mitsumichi"><img src="/git.svg" alt="git" class="w-12 h-12 sm:w-32 sm:h-32"></a>
        </li>
        <li class="flex justify-center items-center flex-col">
          <span>Deploy</span>
          <a href="https://mitsumichi.vercel.app/"><img src="/deploy.svg" alt="git" class="w-12 h-12 sm:w-32 sm:h-32"></a>
       </li>
      </ul>
  </section>
</MySiteLayout>