---
 import MySiteLayout from "../layouts/MySiteLayout.astro";
 import Card from "../components/Card.astro";
---

<MySiteLayout title="AlejandroDev | projects" description="Welcome to my Work Gallery | AlejandroDev. Explore a curated collection of my professional achievements in web development. This portfolio showcases my extensive experience, offering a comprehensive display of real-world projects. Each project is meticulously detailed with direct access to code repositories and live demonstrations. These examples highlight my expertise in solving complex challenges, navigating diverse technological landscapes, and showcasing proficient project management skills.">
  <article>
    <secton class="flex flex-col justify-center items-center">
      <h1 class=" text-[1.7rem] sm:text-5xl mb-2 font-bold">My Work Gallery</h1>
      <p class="text-xl text-gray-600 dark:text-gray-300">
        This portfolio serves as a testament to my professional capabilities and extensive experience, offering a comprehensive showcase of real-world projects. Each project is meticulously outlined with direct access to code repositories and live demonstrations. These exemplars underscore my adeptness in solving intricate challenges, navigating diverse technological landscapes, and demonstrating proficient project management.
      </p>
    </section>
  </article>
  <section class="grid place-content-center pt-2">
    <Card/>
  </section>
</MySiteLayout>