---
 import MySiteLayout from "../layouts/MySiteLayout.astro";
 import Card from "../components/Card.astro";
---

<MySiteLayout title="AlejandroDev | projects" description="Welcome to my Work Gallery | AlejandroDev. Explore a curated collection of my professional achievements in web development. This portfolio showcases my extensive experience, offering a comprehensive display of real-world projects. Each project is meticulously detailed with direct access to code repositories and live demonstrations. These examples highlight my expertise in solving complex challenges, navigating diverse technological landscapes, and showcasing proficient project management skills.">
  <article>
    <secton class="flex flex-col justify-center items-center">
      <h1 class=" text-[1.7rem] sm:text-5xl mb-2 font-bold">My Work Gallery</h1>
      <p class="text-xl text-gray-600 dark:text-gray-300">
        This portfolio serves as a testament to my professional capabilities and extensive experience, offering a comprehensive showcase of real-world projects. Each project is meticulously outlined with direct access to code repositories and live demonstrations. These exemplars underscore my adeptness in solving intricate challenges, navigating diverse technological landscapes, and demonstrating proficient project management.
      </p>
    </section>
  </article>
  <section class="flex flex-wrap gap-10 justify-center pt-10">
    <Card title="Mitsumichi Ecommerce" text="A web application that allows users to buy motorcycles and leave reviews. It also includes a dashboard where admins can add new motorcycles, ban users, view reviews, and more." s1="#React" s2="#Tailwind" s3="#css" s4="#JavaScript" s5="#NodeJs" s6="#Express" s7="#Postgres" s8="#Sequelize" s9="#Firebase" img="/e-commerce.jpg" github="https://github.com/edgartellom/Mitsumichi" deploy="https://mitsumichi.vercel.app/"/>
    <Card title="Guess my number" text="This is an exciting game where you challenge your intuition to guess the secret number hidden between 1 and 20. Can you uncover the mystery number and claim victory?" img="/guess.png" deploy="https://guess-my-number-gray.vercel.app/" github="https://github.com/alecanonm/Guess-my-number" s1="#HTML" s2="#DOM" s3="#CSS" s4="JavaScript" />
  </section>
</MySiteLayout>