---
import MySiteLayout from "../layouts/MySiteLayout.astro"; 
---

<MySiteLayout title="AlejandroDev | Take my vape" description="AlejandroDev | Take my vape is a whole sales vapes sale built with nextJS and tailwind and a cms called directus.">
  <section class="flex flex-col items-center justify-center gap-6 container mx-auto">
    <div class="flex flex-col justify-center items-center gap-5">
    </div>
    <div class="flex flex-col w-full justify-center items-center gap-8">
      <h1 class="text-3xl sm:text-5xl text-center dark:text-slate-200"><strong>Take my vape</strong></h1> 
      <p class="flex flex-wrap justify-center">
        <span class="text-xl px-2 text-black"><strong>NextJS</strong></span>
        <span class="text-xl px-2 text-blue-600"><strong>Tailwind</strong></span>
        <span class="text-xl px-2 text-yellow-600"><strong>JavaScript</strong></span>
        <span class="text-xl px-2 text-violet-700"><strong>Directus</strong></span>
        <span class="text-xl px-2 text-pink-600"><strong>GraphQL</strong></span>
        <span class="text-xl px-2 text-green-600"><strong>NodeJS</strong></span>
      </p>
    <figure class="flex flex-wrap justify-around gap-10 items-center">
      <img src="/takemyvape.png" alt="Take my vape" width="500" height="500">
      <img src="/tmvItems.png" alt="Take my vape" width="500" height="500">
    </figure>
    <p class="md:text-2xl col-span-3 text-slate-800 dark:text-slate-300 text-left md:text-justify xl:px-32 px-6">I worked on this exciting project for a startup venturing into the wholesale distribution of vapes in Spain through an E-commerce platform. As a full-stack developer, my responsibilities encompassed the comprehensive development of the Frontend, utilizing key technologies such as Next.js and Tailwind. Throughout this process, I applied best coding practices to ensure a professional, clean, and optimized codebase, with a primary focus on achieving optimal page performance. Additionally, I dedicated effort to refining the user experience and overall design of the platform.</p>
    </div>
    <figure class="flex flex-wrap justify-center items-center p-10 gap-5">
      <img src="/tmvPerformance.png" alt="Take my vape" width="550" height="550">
      <img src="/tmvDescription.png" alt="Take my vape" width="550" height="550">
      <img src="/tmvBilling.png" alt="Take my vape" width="550" height="550">
    </figure>
    <p class="md:text-2xl col-span-3 text-slate-800 dark:text-slate-300 md:text-justify xl:px-32 px-6">
      Take my vapeTake my vape
      dic. 2023 - actualidaddic. 2023 - actualidad
      I worked on an exciting project for a startup venturing into the wholesale distribution of vapes in Spain through an E-commerce platform. As a full-stack developer, my responsibilities encompassed the comprehensive development of the Frontend, utilizing key technologies such as Next.js and Tailwind. Throughout this process, I applied best coding practices to ensure a professional, clean, and optimized codebase, with a primary focus on achieving optimal page performance. Additionally, I dedicated effort to refining the user experience and overall design of the platform.
      
      On the Backend side, I leveraged Node.js and harnessed the capabilities of Directus and GraphQL for managing services, databases, and the entire REST API layer. Directus served as an all-encompassing solution for data administration. GitHub was seamlessly integrated for version control, ensuring an efficient workflow and maintaining consistency through adherence to best practices and a professional development approach.
      </p>
      <p class="md:text-2xl col-span-3 px-6 text-slate-800 dark:text-slate-300 text-left md:text-justify xl:px-32">In summary, my contributions spanned from building the Frontend with Next.js and Tailwind, ensuring high-quality code and optimal performance, to efficiently implementing the Backend with Node.js, Directus, and GraphQL. This was all supported by robust version control on GitHub and a consistent commitment to best development practices.</p>
      
      <div class="fixed bg-[#5c95ff21] backdrop-blur-xl pl-[2px] pb-[2px] rounded-full right-2 sm:right-10 bottom-16">
      <a href="https://www.takemyvape.com/"><img src="/deploy.svg" alt="git" class="w-12 h-12 sm:w-15 sm:h-15"></a>
    </div>  
  </section>
</MySiteLayout>