---
import MySiteLayout from "../layouts/MySiteLayout.astro"; 
---

<MySiteLayout title="AlejandroDev | guess my number" description="AlejandroDev | guess my number. Guess my number its just a simple game built using vanilla JavaScrip, CSS and HTML, with this challenge i had culd put in practice the basics skills about programming logic, using the DOM and frontend abilyties.">
  <section class="flex flex-col items-center justify-center gap-6 container mx-auto">
    <div class="flex flex-col justify-center items-center gap-5">
    <h1 class="text-3xl sm:text-5xl text-center dark:text-slate-200"><strong>Take my vape</strong></h1> 
      <p class="flex flex-wrap justify-center">
        <span class="text-xl px-2 text-black"><strong>NextJS</strong></span>
        <span class="text-xl px-2 text-blue-600"><strong>Tailwind</strong></span>
        <span class="text-xl px-2 text-yellow-600"><strong>JavaScript</strong></span>
        <span class="text-xl px-2 text-violet-700"><strong>Directus</strong></span>
        <span class="text-xl px-2 text-pink-600"><strong>GraphQL</strong></span>
        <span class="text-xl px-2 text-green-600"><strong>NodeJS</strong></span>
      </p>
    </div>
    <figure>
      <img src="/takemyvape.png" alt="guess my number" width="800" height="800">
    </figure>
    <p class="text-xl xl:px-32">I worked on this exciting project for a startup venturing into the wholesale distribution of vapes in Spain through an E-commerce platform. As a full-stack developer, my responsibilities encompassed the comprehensive development of the Frontend, utilizing key technologies such as Next.js and Tailwind. Throughout this process, I applied best coding practices to ensure a professional, clean, and optimized codebase, with a primary focus on achieving optimal page performance. Additionally, I dedicated effort to refining the user experience and overall design of the platform.</p>
    <!-- <h2 class="text-2xl sm:text-3xl  dark:text-slate-200"><b>Rules</b></h2>
    <p class="text-xl xl:px-32">The game is simple, you have to guess a number between 1 and 20, if you guess the number you win, if not you lose, you have 20 points, every time you miss a number you lose 1 point, if you lose all your points you lose the game, if you win you can play again</p> -->
    <figure class="flex flex-wrap justify-center items-center gap-5">
      <img src="/tmvPerformance.png" alt="guess my number" width="800" height="800">
      <img src="/tmvItems.png" alt="guess my number" width="400" height="400">
      <img src="/tmvDescription.png" alt="guess my number" width="400" height="400">
      <img src="/tmvBilling.png" alt="guess my number" width="400" height="400">
    </figure>
    <p class="text-xl xl:px-32">
      Take my vapeTake my vape
      dic. 2023 - actualidaddic. 2023 - actualidad
      I worked on an exciting project for a startup venturing into the wholesale distribution of vapes in Spain through an E-commerce platform. As a full-stack developer, my responsibilities encompassed the comprehensive development of the Frontend, utilizing key technologies such as Next.js and Tailwind. Throughout this process, I applied best coding practices to ensure a professional, clean, and optimized codebase, with a primary focus on achieving optimal page performance. Additionally, I dedicated effort to refining the user experience and overall design of the platform.
      
      On the Backend side, I leveraged Node.js and harnessed the capabilities of Directus and GraphQL for managing services, databases, and the entire REST API layer. Directus served as an all-encompassing solution for data administration. GitHub was seamlessly integrated for version control, ensuring an efficient workflow and maintaining consistency through adherence to best practices and a professional development approach.
      </p>
      <p class="text-xl xl:px-32">In summary, my contributions spanned from building the Frontend with Next.js and Tailwind, ensuring high-quality code and optimal performance, to efficiently implementing the Backend with Node.js, Directus, and GraphQL. This was all supported by robust version control on GitHub and a consistent commitment to best development practices.</p>
      
      <div class="fixed bg-[#5c95ff21] backdrop-blur-xl pl-[2px] pb-[2px] rounded-full left-4 bottom-16">
      <a href="https://www.takemyvape.com/"><img src="/deploy.svg" alt="git" class="w-12 h-12 sm:w-15 sm:h-15"></a>
    </div>  
  </section>
</MySiteLayout>